@charset "utf-8";

@font-face {
    font-family: Mooli;
    src: url('../Fonts/Mooli-Regular.ttf') format('truetype');
}

@font-face {
    font-family: EB Garamond;
    src: url('../Fonts/EBGaramond.ttf') format('truetype');
}


body{
    width: 85%;
    margin: auto;
    background-color: black;
}

header{
    background-color: black;
    padding-right: 230px;
    width: 100%;
}

div#logo{
    position: relative;
    left: 0;
}

div#logo img {
    width: 75px;
    height: auto;
    border-radius: 50px;
    float: left;
}

.logoname {
    color: brown;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 15px;
    float: left;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.horizontal li{
    display: inline;
    width: 20%;
    background-color: black;
    float: left;
    text-align: center;
}

.horizontal a{
    display: block;
    color: black;
    text-align: center;
    line-height: 2.5em;
    text-shadow: whitesmoke 1px -1px 1px;
    transform: scale(1,1) translateY(0px);
    transition: all 0.5s linear;
}

h1 {
    color: white;
    font-size: 30px;
    font-family: 'Mooli', sans-serif;
}

p {
    color: white;
    font-size: 15px;
    font-family: 'EB Garamond', serif;
}

.horizontal a:hover{
    color: darkslateblue;
    text-shadow: white;
    transform: scale(2,2) translateY(-2px);
    transform: scale(2,2) translateY(-2px);
}

.icon{
    position: relative;
    top:5px;
    width: 24px;
    height: 24px;
}

#faq-border {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px;  
}

.faq {
    margin-bottom: 30px;
}

.question {
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Mooli';
}

.answer {
    color: yellow;
    display: none;
    margin-top: 5px;
    font-family: 'EB Garamond';
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9em;
    font-family: 'Mooli';
}